@font-face {
  font-family: icomoon;
  src: url('utils/fonts/fontawesome-webfont.eot?#v=4.5.0') format('embedded-opentype'), url('utils/fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('utils/fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('utils/fonts/fontawesome-webfont.svg?v=4.5.0') format('svg');
  font-weight: 400;
  font-style: normal;
}

[class^="icon-"] {
  speak: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  font-family: 'icomoon';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 2px 0px;
}

.icon-gift::before {
  content: "\f06b";
}

.icon-angle-right:before {
  content: "\f105";
}

.icon-gamepad:before {
  content: "\f11b";
}

.icon-home3:before {
  content: "\f0c0";
}

.icon-users:before {
  content: "\f007";
}

.icon-mobile:before {
  content: "\f10b";
}

